        
<div id="layout-content">
    <div id="senha-container">
        <div class="left">
            <div id="mensagem">
                <span>Atendimento</span>
            </div>
            <div id="senha">
                <span>A000</span>
            </div>
            <div class="senha-local">
                <div id="local" class="local">
                    <span>Guichê</span>
                </div>
                <div id="local-numero" class="numero-local">
                    <span>0</span>
                </div>
            </div>
            <div id="marquee">
                <p></p>
            </div>
        </div>
        <div class="right">
            <div id="historico">
                <div class="senhas">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="error">Resolução não suportada</div>