        
<div id="layout-content">
    <div id="senha-container">
        <div id="mensagem">
            <span>Atendimento</span>
        </div>
        <div class="middle">
            <div class="left">
                <div id="senha">
                    <span>A000</span>
                </div>
            </div>
            <div class="right">
                <div id="local" class="local">
                    <span>Guichê</span>
                </div>
                <div id="local-numero" class="numero-local">
                    <span>0</span>
                </div>
            </div>
        </div>
    </div>
    <div id="historico">
        <div class="senhas">
        </div>
    </div>
</div>
<div id="error">Resolução não suportada</div>