        
<div id="layout-content">
    <div id="senha-container">
        <div id="mensagem">
            <span>{{ ultima.mensagem }}</span>
        </div>
        <div class="middle">
            <div class="left">
                <div id="senha" class="blink">
                    <span>{{ ultima.texto }}</span>
                </div>
            </div>
            <div class="right">
                <div id="local" class="local">
                    <span>{{ ultima.local }}</span>
                </div>
                <div id="local-numero" class="numero-local">
                    <span>{{ ultima.numeroLocal }}</span>
                </div>
            </div>
        </div>
    </div>
    <div id="historico">
        <div class="senhas">
            <div class="senha-chamada {{ senha.styleClass }}" ng-repeat="senha in anteriores | limitTo: 5">
                <div class="senha">
                    <span>{{ senha.texto }}</span>
                </div>
                <div class="local">
                    <span>{{ senha.local }}: {{ senha.numeroLocal }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="error">Resolução não suportada</div>