        
<div>
    <div id="video-container">
        <video id="video" autoplay="autoplay" loop="loop">
            <!--<source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">-->
        </video>
    </div>
    <div id="senha-container">
        <div id="mensagem">
            <span>Atendimento</span>
        </div>
        <div class="middle">
            <div class="left">
                <div id="senha">
                    <span>A000</span>
                </div>
            </div>
            <div class="right">
                <div id="guiche" class="guiche">
                    <span>Guichê</span>
                </div>
                <div id="guiche-numero" class="numero-guiche">
                    <span>0</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="historico">
    <div class="senhas">
    </div>
</div>
